@model User

<h1>Things to Do</h1>

<br />

<form asp-controller="Todo" asp-action="AddTodo" asp-route-username="@Model.Name" method="post">
    <div>
        <label for="title">Add Todo:</label>
    </div>
    <input type="text" name="title" value="" />
    <button type="submit" class="btn btn-success btn-sm">Add</button>
</form>

<br />

<table class="table table-striped">
    <tr class="thead-dark text-center font-weight-bold">
        <th>Title</th>
        <th>Complete</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var todo in Model.Todos)
    {
        <tr>
            @if (todo.IsDone == false)
            {
                <td>@todo.Title</td>  
            }
            else
            {
                <td><strike>@todo.Title</strike></td>  
            }
            
            <td class="text-center">
                <form asp-controller="Todo" asp-action="Complete" asp-route-id="@todo.TodoId" asp-route-username="@Model.Name" method="post">
                    <button type="submit" class="btn btn-success btn-sm">Complete</button>
                </form>
            </td>

            <td class="text-center">
                <form asp-controller="Todo" asp-action="RenderEdit" asp-route-id="@todo.TodoId" asp-route-username="@Model.Name" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                </form>
            </td>

            <td class="text-center">
                <form asp-controller="Todo" asp-action="DeleteTodo" asp-route-id="@todo.TodoId" asp-route-username="@Model.Name" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>